<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>

	<!-- Header -->
    <%- include('templates/header.ejs') %>
	
    <!-- Content -->
	<main>
        <!-- <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">Ремонт квартир в Москве от 85 000₽</h1>

                <br>
                <h4 style="text-align: center;">Закажите ремонт со скидкой 5% прямо сейчас + подбор и закупка материалов за 0₽</h4>
                <h4 style="text-align: center;">(подробности при заказе замерщика)</h4>

                <br>
                <h1 class="card-text" style="text-align: center;">+7 (499) 992-78-55</h1>

                <br>
                <p style="text-align: center;"><a href="#" type="button" class="btn btn-danger" style="text-align: center;">Примеры работ</a></p>
            </div>
        </div> -->

        <!-- <div class="card text-bg-dark">
            <img src="images/remont-kv.jpeg" class="card-img">
            <div class="card-img-overlay" style="color: black;">
                <h1 class="card-title">Ремонт квартир в Москве от 85 000₽</h1>
                
                <br>
                <h4 style="text-align: center;">Закажите ремонт со скидкой 5% прямо сейчас + подбор и закупка материалов за 0₽</h4>
                <h4 style="text-align: center;">(подробности при заказе замерщика)</h4>

                <br>
                <h1 class="card-text" style="text-align: center;">+7 (499) 992-78-55</h1>

                <br>
                <p style="text-align: center;"><a href="#" type="button" class="btn btn-danger" style="text-align: center;">Примеры работ</a></p>
            </div>
        </div> -->

        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">О нас</h1>

                <br>
                <h4 class="card-text" style="text-align: center;">Мы – частная бригада по ремонту и отделке квартир, коттеджей, таунхаусов, офисов, торговых и административных помещений которая с равным энтузиазмом выполняет заказы частных лиц и организаций</h4>
                
                <br>
                <h5 class="card-text">В нашей бригаде есть:</h5>
                <ul>
                    <li>штукатуры-маляры</li>
                    <li>плиточники</li>
                    <li>плотники</li>
                    <li>электрики</li>
                    <li>сантехники</li>
                </ul>

                <br>
                <h5 class="card-text">Мы готовы выполнить ремонт любой сложности под ключ в вашем:</h5>
                <ul>
                    <li>коттедже</li>
                    <li>таунхаусе</li>
                    <li>офисе</li>
                    <li>квартире</li>
                </ul>

                <br>
                <h5 class="card-text">Помимо работ по ремонту наши руководители Геннадий и Наталья с радостью:</h5>
                <ul>
                    <li>помогут вам с выбором материалов и технологий ремонта и отделки</li>
                    <li>съездят с вами на закупку материалов</li>
                    <li>обеспечат доставку материалов на объект</li>
                    <li>решат вопросы с контролирующими органами («Мосэнерго», ДЭЗ и т.д.)</li>
                </ul>

                <br>
                <h4 class="card-text" style="text-align: center;">Наши цены – одно из важных наших преимуществ. Мы отказались от аренды офиса, штата секретарей и уборщиц ради экономии ваших денег.</h4>

                <br>
                <h4 class="card-text" style="text-align: center;">Мы не говорим, что сделаем дешевле всех. Используя качественные материалы и профессиональных работников - это невозможно. Все мы это понимаем. Но обращаясь к нам, вы можете быть уверены, что не возникнет ситуация когда "скупой платит дважды".</h4>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">Наши мастера</h1>
                <ul>
                    <li> <b>Штукатуры-маляры</b> аккуратно выравнивают, окрашивают и оклеивают обоями стены и потолки, 
                        реставрируют двери и окна.</li>
                    <li> <b>Плиточники</b> виртуозно укладывают и простую плитку, и мозаичные панно.</li>
                    <li> <b>Плотники</b> оперативно устанавливают двери и окна, настилают полы, обшивают стены.</li>
                    <li> <b>Паркетчики</b> кладут идеально ровный паркет.</li>
                    <li> <b>Электрики</b> устанавливают счетчики, меняют проводку, устанавливают выключатели, розетки, автоматы,
                        УЗО - быстро и с гарантией.</li>
                    <li> <b>Сантехники</b> меняют трубы, устанавливают сантехническое оборудование и бытовую технику. После нас не
                        капает!</li>
                    <li> <b>Строители</b> возводят крепкие межкомнатные перегородки и надежно гидроизолируют санузлы.</li>
                </ul>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">Карта оказания услуг</h1>

                <div class="map-div">
                    <img src="images/map.svg" style="width: 500px; height: 500px;">

                    <div class="in-map-div">
                        <h4 class="card-text">Мы принимаем и выполняем заказы на ремонт и отделку квартир, домов, коттеджей и коомерческой недвижимости от Клиентов по всем городам Московской области и в Москве включительно без выходных с 9:00 до 20:00</h4>

                        <h1 class="card-text">+7 (499) 992-78-55</h1>
                    </div>
                </div>

                <div class="map-city">
                    <ul>
                        <li><h5>Москва</h5></li>
                        <li><h5>Апрелевка</h5></li>
                        <li><h5>Балашиха</h5></li>
                        <li><h5>Бронницы</h5></li>
                        <li><h5>Верея</h5></li>
                        <li><h5>Видное</h5></li>
                        <li><h5>Волоколамск</h5></li>
                        <li><h5>Воскресенск</h5></li>
                        <li><h5>Голицыно</h5></li>
                        <li><h5>Дедовск</h5></li>
                        <li><h5>Дзержинский</h5></li>
                        <li><h5>Дмитров</h5></li>
                        <li><h5>Долгопрудный</h5></li>
                        <li><h5>Домодедово</h5></li>
                    </ul>

                    <ul>
                        <li><h5>Дрезна</h5></li>
                        <li><h5>Дубна</h5></li>
                        <li><h5>Егорьевск</h5></li>
                        <li><h5>Жуковский</h5></li>
                        <li><h5>Зарайск</h5></li>
                        <li><h5>Звенигород</h5></li>
                        <li><h5>Ивантеевка</h5></li>
                        <li><h5>Истра</h5></li>
                        <li><h5>Кашира</h5></li>
                        <li><h5>Клин</h5></li>
                        <li><h5>Коломна</h5></li>
                        <li><h5>Королёв</h5></li>
                        <li><h5>Котельники</h5></li>
                        <li><h5>Красноармейск</h5></li>
                    </ul>

                    <ul>
                        <li><h5>Красногорск</h5></li>
                        <li><h5>Краснознаменск</h5></li>
                        <li><h5>Кубинка</h5></li>
                        <li><h5>Куровское</h5></li>
                        <li><h5>Ликино-Дулёво</h5></li>
                        <li><h5>Лобня</h5></li>
                        <li><h5>Лосино-Петровский</h5></li>
                        <li><h5>Луховицы</h5></li>
                        <li><h5>Лыткарино</h5></li>
                        <li><h5>Люберцы</h5></li>
                        <li><h5>Можайск</h5></li>
                        <li><h5>Мытищи</h5></li>
                        <li><h5>Наро-Фоминск</h5></li>
                        <li><h5>Ногинск</h5></li>
                    </ul>

                    <ul>
                        <li><h5>Одинцово</h5></li>
                        <li><h5>Озёры</h5></li>
                        <li><h5>Орехово-Зуево</h5></li>
                        <li><h5>Павловский Посад</h5></li>
                        <li><h5>Подольск</h5></li>
                        <li><h5>Протвино</h5></li>
                        <li><h5>Пушкино</h5></li>
                        <li><h5>Пущино</h5></li>
                        <li><h5>Раменское</h5></li>
                        <li><h5>Реутов</h5></li>
                        <li><h5>Рошаль</h5></li>
                        <li><h5>Руза</h5></li>
                        <li><h5>Сергиев Посад</h5></li>
                        <li><h5>Серпухов</h5></li>
                    </ul>

                    <ul>
                        <li><h5>Солнечногорск</h5></li>
                        <li><h5>Старая Купавна</h5></li>
                        <li><h5>Ступино</h5></li>
                        <li><h5>Фрязино</h5></li>
                        <li><h5>Химки</h5></li>
                        <li><h5>Черноголовка</h5></li>
                        <li><h5>Чехов</h5></li>
                        <li><h5>Шатура</h5></li>
                        <li><h5>Щёлково</h5></li>
                        <li><h5>Электрогорск</h5></li>
                        <li><h5>Электросталь</h5></li>
                        <li><h5>Электроугли</h5></li>
                        <li><h5>Яхрома</h5></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h1 class="card-title">Ремонт и отделка квартир в Москве и Подмосковье</h1>
                
                <br>
                <h5 class="card-text">Одной из самых востребованных услуг из которых оказывает наша бригада являются комплекс ремонтных и отделочных работ для жителей и владельцев квартир разного типа Москвы и городов Московской области. Мы ремонтируем однокомнатные квартиры, двухкомнатные, трехкомнатные, четырехкомнатные, а так же со свободной планировкой. Выполняем весь перечень как черновых, так и чистовых работ. Огромный опыт и наработанный профессионализм позволяет выполнят заказы от бюджетного до премиального уровня. Укомплектованный штат узкопрофельными специалистами мастерами в бригаде дает нам возможность выполнять все пожелания даже самого искушенного Клиента! От простейших поклейки обоев, шпаклевания стен, укладки ламината и монтажа электрики и сантехники. До навеса сложной гипсовой лепнины, укладки дубового паркета и венецианской штукатурки. Так же выполняем работы по потолочным покрытиям любой сложности.</h5>
            </div>

            <div class="card-body">
                <h1 class="card-title">Фотографии ремонта и отделки квартир в Москве и Подмосковье</h1>
                
                <br>
                
            </div>
        </div>
    </main>

	<!-- Footer --> 
    <%- include('templates/footer.ejs') %>
</body>

<script src="scripts/script.js"></script>
</html>