<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head.ejs') %>

    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <a href="#"><img src="images/logo.png" alt="logo"></a>
            </div>
            
            <div class="footer-column">
                <ul>
                    <li><h4>Звоните:</h4></li>
                    <li><a href="#">+7 (499) 992-78-55</a></li>
                    <li><a href="#">+7 (926) 278-78-77</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <ul>
                    <li><h4>Режим работы:</h4></li>
                    <li><a href="#">Будние дни</a></li>
                    <li><a href="">с 9:00 до 20:00</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="footer-social">
                <a href=""><i class="bi bi-geo-alt"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-telegram"></i></a>
                <a href=""><i class="bi bi-telephone"></i></a>
            </div>
            <p style="font-size: 12px;">© 2005-2024 Remont-NG. Все права защищены. Все тексты и фотографии, опубликованные на этом сайте, уникальны и защищены законом РФ "Об авторском праве и смежных правах". Частичное или полное копирование или перепечатка, возможны только с личного разрешения владельцев. Все ЦЕНЫ, указанные на сайте приведены как справочно-информационные и не являются публичной офертой и могут быть изменены в любое время без предупреждения.</p>
        </div>
    </footer>
</body>
</html>