body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Footer styles */
footer {
    background-color: #111;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-right: 200px;
    align-items: center;
    font-size: 18px;
}

.footer-logo a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
}

.footer-column h4 {
    margin-bottom: 5px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
}

.footer-social {
    font-size: 30px; 
    margin-top: 50px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2em;
}